language: java
jdk:
  - oraclejdk8
script:
- mvn test
sudo: required
dist: trusty
addons:
 firefox: "45.6.0"
  
before_script:
- export FIREFOX_SOURCE_URL=$(which  firefox)
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start

notifications:
  email:
    recipients:
      - deepak.gupta@tothenew.com   
    on_success: always
    on_failure: always
